<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scoreboard</title>
</head>
<body>

<div id="scores" style="color: white; font-family: sans-serif"></div>

<script>
    const scores = document.getElementById('scores');

    setInterval(() => {
        if (!localStorage.getItem('currentUser')) {
            scores.innerHTML = "За да виждате точките на останалите потребители трябва да се регистрирате";
        } else {
            fetch('/user/scores', {
                method: 'POST',
                headers: {'Content-Type': 'application/json', "Authorization": localStorage.getItem('currentUser')},
            }).then(r => r.json())
                .then(data => {
                    scores.innerHTML = "";
                    scores.innerHTML += data.username + " - " + data.score + "<br><br>";
                    data.scores.forEach(scoreEntry => {
                        scores.innerHTML += scoreEntry.username + " - " + scoreEntry.score + "<br>";
                    });
                });
        }
    }, 1000)
</script>

</body>
</html>